{% extends "tracked_prices/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col-xs-6">
        <h3 class="account-heading">{{ user.username }}</h3>
        <p class="text-secondary border-bottom">{{ user.email }}</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}