{% extends "tracked_prices/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom my-2">Profile Info</legend>
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}