{% extends "tracked_prices/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <p class="mt-4">Czy na pewno nie chcesz już śledzić ceny "{{ object.name }}"?</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Tak, na pewno</button>
                <a class="btn btn-secondary" href="{% url 'tracked_prices_list' %}">Anuluj</a>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}