{% extends "tracked_prices/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col-sm-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Zarejestruj się</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Masz już konto? <a class="ml-2" href="{% url 'login' %}">Zaloguj się</a>
            </small>
        </div>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}