{% extends "tracked_prices/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            <form method="post" action="{% url 'login' %}" class="post-form">
            {% csrf_token %}
            {{ form|crispy }}
                <input type="submit" value="Login" class="save btn btn-primary" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}