{% extends 'tracked_prices/base.html' %}

{% block content %}
    <div class="price">
        <h3><a href ="{{ price.url }}">{{price.url}}</a></h3>
        <div class ="date">
            <p>{{ price.last_checked_date|date:"d.m.Y" }}
                <a class="btn btn-default" href="{% url 'price_edit' pk=price.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default" href="{% url 'price_remove' pk=price.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </p>
        </div>

        <p>{{price.name}} {{price.current}} {{price.currency}}</p>
        <p>{{price.desired}}</p>
        <p>{{price.user}}</p>
    </div>

{% endblock %}