{% extends 'tracked_prices/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col"></div>
        <div class="col-xs-6">
            <form method="post" class="post-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>

                <script>function add_hide()
                {
                    Hide();
                    $("#id_when_inform")[0].addEventListener("change", Hide);
                }
                </script>
                <button type="submit" class="save btn btn-primary">Śledź cenę</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}

{% block js %}

    <script>function Hide()
    {
        if($('#id_when_inform')[0].value == "A")
        {
            $('#div_id_percent_drop')[0].style.display = 'none';
            $('#div_id_desired')[0].style.display = 'none';
        }
        else if($('#id_when_inform')[0].value == "B")
        {
            $('#div_id_percent_drop')[0].style.display = '';
            $('#div_id_desired')[0].style.display = 'none'
        }
        else
        {
            $('#div_id_percent_drop')[0].style.display = 'none';
            $('#div_id_desired')[0].style.display = ''
        }
    }
    </script>

{% endblock js %}
