{% extends 'tracked_prices/base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Wyślij powiadomienie</th>
      <th scope="col">Obecna cena</th>
      <th scope="col">Ostatnio sprawdzono</th>
      <th scope="col">Edytuj</th>
      <th scope="col">Usuń</th>
    </tr>
  </thead>
  <tbody>
{% for price in prices %}
    <tr>
      <td><a href ="{{price.url}}">{{price.name}}</a></td>
      {% if price.when_inform == "A" %}
      <td>{{price.get_when_inform_display}}</td>
      {% elif price.when_inform == "B" %}
      <td>Gdy cena spadnie o {{price.percent_drop}}%</td>
      {% else %}
      <td>Gdy cena spadnie do {{price.current}} {{price.currency}}</td>
      {% endif %}
      <td style="width: 10%">{{price.current}} {{price.currency}}</td>
      <td>{{ price.last_checked_date|date:"d.m.Y" }}</td>
      <td>
        <a class="text-dark" href="{% url 'price_edit' pk=price.pk %}">
            <i class="fas fa-edit"></i>
        </a>
      </td>
      <td>
        <a class="text-dark" href="{% url 'price_remove' pk=price.pk %}">
            <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
