{% extends 'tracked_prices/base.html' %}

{% block content %}
    {% for price in prices %}
        <div class="price">
            <h3><a href ="{{ price.url }}">{{price.url}}</a></h3>
            <div class ="date">
                <p>{{ price.last_checked_date|date:"d.m.Y" }}</p>
            </div>
            <p><a href ="{% url 'price_detail' pk=price.pk %}">{{price.name}}</a> {{price.current}} {{price.currency}}</p>
            <p>{{price.desired}}</p>
            <p>{{price.user}}</p>
        </div>
    {% endfor %}
{% endblock %}
